<p>Feedbacks</p>

<button routerLink="/createFeedback">Create Feedback</button>

<table>
    <thead>
        <tr>
            <th>ID</th>
            <th>Title</th>
            <th>Type</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @for (feedback of feedbacks; track $index) {
            <tr>
                <td>{{feedback.id}}</td>
                <td>{{feedback.title}}</td>
                <td>{{feedback.type.name}}</td>
                <td>
                    <a [routerLink]="['/editFeedback', feedback.id]">Edit</a> | <a [routerLink]="['/deleteFeedback', feedback.id]">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>