<form (ngSubmit)="editFeedback(feedback); $event.preventDefault()">
    <label for="title">Title</label>
    <input type="text" name="name" [(ngModel)]="feedback.title" required/>

    <label for="description">Description</label>
    <textarea type="text" name="name" [(ngModel)]="feedback.description" required></textarea>

    <label for="type">Type</label>
    <select class="form-control" id="type" name="Type" [(ngModel)]="feedback.type">
      <option *ngFor="let type of types" [ngValue]="type">{{type.name}}</option>
    </select>

    <button type="submit">Submit</button>
</form>