<p>Types</p>

<button routerLink="/createType">Create Type</button>

<table>
    <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @for (type of types; track $index) {
            <tr>
                <td>{{type.id}}</td>
                <td>{{type.name}}</td>
                <td>
                    <a [routerLink]="['/editType', type.id]">Edit</a> | <a [routerLink]="['/deleteType', type.id]">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>